<h1>Welcome to Angular</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt incidunt molestiae, rem labore nihil ex modi autem dolor inventore illo quas! Animi vitae eos corporis rem, fuga officia et porro!</p>
<p>Where do you want to go today?</p>
<p>Hello <strong>{{ firstname }} {{ lastname}}</strong>!</p>
<p>Greetings! My name is {{ person.givenName }} and surname is {{ person.surname }}.</p>
<p>My age is {{ person.age }} and you can reach me at {{ person.email }}</p>
<table>
  <tr>
    <td class="header">First Name</td>
    <td>{{ person.givenName }}</td>
  </tr>
  <tr>
    <td class="header">Last Name</td>
    <td>{{ person.surname }}</td>
  </tr>
  <tr>
    <td class="header">Age</td>
    <td>{{ person.age }}</td>
  </tr>
  <tr>
    <td class="header">e-mail</td>
    <td>{{ person.email }}</td>
  </tr>
</table>