<h1>Welcome to Angular</h1>

<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt incidunt molestiae, rem labore nihil ex modi autem dolor inventore illo quas! Animi vitae eos corporis rem, fuga officia et porro!</p>
<p>Where do you want to go today?</p>
<p>Hello <strong>{{ firstname }} {{ lastname}}</strong>!</p>

<app-person [person]="personData"></app-person>
<app-person-alt></app-person-alt>
<app-person-alt [person]="person2Data"></app-person-alt>
<app-person-alt *ngFor="let user of users" [person]="user"></app-person-alt> -->

<!-- <app-evt-bind></app-evt-bind> -->

<div class="container d-flex flex-column gap-2">
    <app-output-comp
        [userData]="users"
        (deleteData)="onDeleteUser($event)"
        (sendData)="onReceiveUser($event)"
    ></app-output-comp>
    <app-person-card
        [person]="receivedUser"
    ></app-person-card>

    <div class="container">
        <app-template-driven-form
            (person)="onNewPerson($event)"
        >
        </app-template-driven-form>
    </div>
</div>
