<p>Greetings! My name is {{ person.givenName }} and surname is {{ person.surname }}.</p>
<p>My age is {{ person.age }} and you can reach me at {{ person.email }}</p>
<table>
  <tr>
    <td class="header">First Name</td>
    <td>{{ person.givenName }}</td>
  </tr>
  <tr>
    <td class="header">Last Name</td>
    <td>{{ person.surname }}</td>
  </tr>
  <tr>
    <td class="header">Age</td>
    <td>{{ person.age }}</td>
  </tr>
  <tr>
    <td class="header">e-mail</td>
    <td>{{ person.email }}</td>
  </tr>
</table>
